<h1>Rock, Paper, Scissors!</h1>

<h2>Play some classic RPS against the computer.</h2>

<h3>Make your choice:</h3>
<form action='/results' method='get'>
  <button type="submit" value="Rock" name="player" id="rock"></button>
  <button type="submit" value="Paper" name="player" id="paper"></button>
  <button type="submit" value="Scissors" name="player" id="scissors"></button>
</form>
